body{
   background-color: #42cfa0;
   color: darkgray;
   font-family: "Fredoka", sans-serif;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 700px;
   margin: 0;
}

button{
    background-color: #f8dab4;
    color: darkgray; 
    font-family: "Fredoka", sans-serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display: block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 90%;
}