body {
    background-color:aquamarine;
    color:aliceblue;
    font-family: "Fredoka", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px
    margin: 0;
}

button {
    background0-color: lightgray;
    color: gray;
    font-family: "Fredoka", sans-serif;
}