body{
   background-color: #7fffd4;
   color: aliceblue;
   font-family: "Fredoka", sans-serif;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 700px;
   margin: 0;
}

button{
    background-color: #ffe4c4;
    color: aliceblue; 
    font-family: "Fredoka", sans-serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display: block;
}
